<nav class="flex start-end">
  <div class="nav-title">Project Management</div>
  <div class="flex gap-15">
    <div><a href="/task1">Task1</a></div>
    <div><a href="/task2">Task2</a></div>
    <div><a href="/task3">Task3</a></div>
    <div><a href="/task4">Task4</a></div>
  </div>
</nav>
